{% extends 'home/base.html' %}

{% block content %}
    <h1>Copyright 2023</h1>
    <p>© 2023 Todos los derechos reservados. Nave Automotores es una marca registrada. Queda estrictamente prohibida la reproducción total o parcial de cualquier contenido, diseño o elemento gráfico sin el consentimiento expreso por escrito de Nave Automotores. Cualquier infracción será perseguida legalmente. Nave Automotores se reserva el derecho de modificar, actualizar o eliminar cualquier información o servicio sin previo aviso. Las imágenes y marcas registradas de terceros utilizadas en este sitio web son propiedad de sus respectivos propietarios. Toda la información proporcionada en este sitio web es únicamente con fines informativos y no constituye asesoramiento legal, financiero o técnico.
    </p>
{% endblock content %}