{% extends 'home/base.html' %}

{% load static %}

{%block content%}

<h1>Página de Contacto</h1>

<p>¡Gracias por tu interés en Nave Automotores! Estamos aquí para responder cualquier pregunta o inquietud que puedas tener. Por favor, completa el siguiente formulario o utiliza los datos de contacto que se encuentran a continuación para comunicarte con nosotros. ¡Estaremos encantados de ayudarte!</p>

<h2>Contacto por WhatsApp:</h2>

<p>Contactate con un vendedor a través de WhatsApp, haz clic en el siguiente enlace:</p>
<a href="https://wa.me/xxxxxxxxxx" target="_blank">
    <button class="whatsapp-button" style="background-color: #25d366; color: white;">
      <span>Enviar mensaje por WhatsApp</span>
      <i class="fa fa-whatsapp"></i>
    </button>
  </a>

<h2>Datos de Contacto:</h2>

<p>Dirección: <span>Av. siempreviva 742.</span></p>
<p>Teléfono: <span>3382-999999</span></p>
<p>Correo electrónico: <span>nave@automotores.com</span></p>

<h2>Horario de Atención:</h2>

<p>Lunes a Viernes: <span>De 9:00 a 12:00 hs y de 14:00 a 20:00 hs</span></p>
<p>Sábados: <span>De 10:00 a 20:00 hs de corrido</span></p>


<h2>Redes Sociales:</h2>
<p>Facebook: 
    <a href="[Facebook/naveautomotores]">
      <button class="facebook-button" style="background-color: #3b5998; color: white;">
        Facebook/naveautomotores
      </button>
    </a>
  </p>
  
 
  <p>Instagram: 
    <a href="[Instagram/naveautomotores]">
      <button class="instagram-button" style="background-color: #c13584; color: white;">
        Instagram/naveautomotores
      </button>
    </a>
  </p>
  
 

<p>¡Estamos ansiosos por escucharte y brindarte la mejor atención posible! Nos comprometemos a responderte en el menor tiempo posible y asegurarnos de que todas tus preguntas sean resueltas. Gracias por elegir Nave Automotores como tu destino automotriz. ¡Esperamos verte pronto!</p>


{% endblock %}