{% extends 'home/base.html' %}

{% load static %}

{%block content%}

<h1>Página de Contacto</h1>

<p>¡Gracias por tu interés en Nave Automotores! Estamos aquí para responder cualquier pregunta o inquietud que puedas tener. Por favor, completa el siguiente formulario o utiliza los datos de contacto que se encuentran a continuación para comunicarte con nosotros. ¡Estaremos encantados de ayudarte!</p>

<h2>Contacto por WhatsApp:</h2>

<p>Para comunicarte con nosotros a través de WhatsApp, haz clic en el siguiente enlace:</p>
<a href="https://wa.me/xxxxxxxxxx">Enviar mensaje por WhatsApp</a>

<h2>Datos de Contacto:</h2>

<p>Dirección: <span>Espacio para ingresar la dirección de Nave Automotores</span></p>
<p>Teléfono: <span>Espacio para ingresar el número de teléfono de Nave Automotores</span></p>
<p>Correo electrónico: <span>Espacio para ingresar el correo electrónico de Nave Automotores</span></p>

<h2>Horario de Atención:</h2>

<p>Lunes a Viernes: <span>Espacio para ingresar el horario de atención</span></p>
<p>Sábados: <span>Espacio para ingresar el horario de atención</span></p>
<p>Domingos: <span>Espacio para ingresar el horario de atención</span></p>

<h2>Redes Sociales:</h2>

<p>Facebook: <a href="[Enlace a la página de Facebook de Nave Automotores]">Enlace a la página de Facebook de Nave Automotores</a></p>
<p>Twitter: <a href="[Enlace a la cuenta de Twitter de Nave Automotores]">Enlace a la cuenta de Twitter de Nave Automotores</a></p>
<p>Instagram: <a href="[Enlace a la cuenta de Instagram de Nave Automotores]">Enlace a la cuenta de Instagram de Nave Automotores</a></p>
<p>LinkedIn: <a href="[Enlace a la página de LinkedIn de Nave Automotores]">Enlace a la página de LinkedIn de Nave Automotores</a></p>

<p>¡Estamos ansiosos por escucharte y brindarte la mejor atención posible! Nos comprometemos a responderte en el menor tiempo posible y asegurarnos de que todas tus preguntas sean resueltas. Gracias por elegir Nave Automotores como tu destino automotriz. ¡Esperamos verte pronto!</p>


{% endblock %}