{% extends 'home/base.html' %}

{% block content %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://lh3.googleusercontent.com/YVz1J3yddJCcQJRkCGeXZJNXMtSNIui8H4dD7itXlhwTIJcy_WsagL48CktpwbxyqSq7TqGQTtutg0J6qaEtD_bZ7sQ7Dt-D8YmsPq4" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Nave Automotores</h1>
            <p>Nave Automotores es la concesionaria líder en ofrecer vehículos de calidad y servicio excepcional a nuestros clientes. Con más de 20 años en el mercado automotriz, nos hemos consolidado como referente en la venta de automóviles nuevos y usados, brindando una experiencia de compra única y satisfactoria.</p>
            <a class="btn btn-primary" href="#!">Call to Action!</a>
        </div>
    </div>
            <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">¡Nave Automotores, donde tus sueños toman el volante!</p></div>
    </div>
            <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Nave SwiftSport</h2>
                    <p class="card-text">LExperimenta la emoción pura al volante con el Nave SwiftSport. Su diseño aerodinámico y motor turboalimentado te brindan una potencia impresionante, mientras que su suspensión ágil y dirección precisa garantizan un manejo emocionante en cada curva. ¡Despierta tu espíritu deportivo con el Nave SwiftSport!</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Nave Explorer</h2>
                    <p class="card-text">Descubre nuevos horizontes con el Nave Explorer, un SUV robusto y versátil. Diseñado para enfrentar cualquier terreno, ofrece un rendimiento excepcional y tracción en las cuatro ruedas para tus aventuras urbanas y off-road. Su amplio espacio interior y características de seguridad avanzadas te brindan comodidad y tranquilidad en cada viaje. ¡Explora sin límites con el Nave Explorer!</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Nave Elegance</h2>
                    <p class="card-text">Sumérgete en el lujo y la sofisticación del Nave Elegance, un sedán de alta gama. Su diseño elegante y acabados de alta calidad te envuelven en un ambiente de confort excepcional. Equipado con tecnología de vanguardia y sistemas avanzados de asistencia al conductor, el Nave Elegance ofrece una experiencia de conducción serena y elegante. Disfruta del lujo en cada detalle con el Nave Elegance.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}