{% extends 'home/base.html' %}
{% load static %}

{% block content %}
    <h1>Quienes somos</h1>
    <div style="text-align: center;">
        <img src="{% static 'media/consecionaria2.jpg' %}" alt="Imagen de la empresa" style="max-width: 100%; height: auto;">
    </div>
    <p>En Nave Automotores, somos mucho más que una concesionaria de vehículos. Nos enorgullece ser un referente en el mercado automotriz, brindando a nuestros clientes una experiencia excepcional desde el primer momento en que nos eligen.</p>

    <p>Nuestro compromiso es ofrecer una atención personalizada y profesional, donde escuchamos atentamente las necesidades y preferencias de cada cliente. Nos esforzamos por entender sus expectativas y superarlas, brindando asesoramiento experto y soluciones a medida.</p>

    <p>En Nave Automotores, nos caracterizamos por la calidad y confiabilidad de nuestros vehículos. Trabajamos en estrecha colaboración con los principales fabricantes y proveedores de la industria para asegurarnos de que cada automóvil que ofrecemos cumpla con los más altos estándares de excelencia.</p>

    <p>Además, nos comprometemos a brindar un servicio postventa excepcional. Nuestro equipo de profesionales capacitados se encarga de mantener tu vehículo en óptimas condiciones, utilizando repuestos originales y tecnología de última generación.</p>

    <p>Nos apasiona ayudarte a encontrar el vehículo perfecto para ti, uno que se adapte a tus necesidades, estilo de vida y presupuesto. En Nave Automotores, estamos aquí para guiarte en cada paso del camino y hacer que tu experiencia de compra sea cómoda, transparente y satisfactoria.</p>

    <p>¡Confía en nosotros para cumplir tus sueños automotrices! En Nave Automotores, no solo vendemos vehículos, sino que construimos relaciones a largo plazo con nuestros clientes. Descubre por qué somos la elección preferida de aquellos que buscan calidad, servicio excepcional y una experiencia de compra inigualable.</p>
{% endblock %}
