{% extends 'home/base.html' %}

{% block content %}
    <div class="container my-5">
        <h1 class="mb-4">Producto</h1>

        <form method="POST" action="{% url 'producto:agregar_producto' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="tipo_vehiculo" class="form-label">Tipo de vehículo:</label>
                <input type="text" name="tipo_vehiculo" id="tipo_vehiculo" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="marca" class="form-label">Marca:</label>
                <input type="text" name="marca" id="marca" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="modelo" class="form-label">Modelo:</label>
                <input type="text" name="modelo" id="modelo" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="anio" class="form-label">Año:</label>
                <input type="number" name="anio" id="anio" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="detalle" class="form-label">Detalle:</label>
                <textarea name="detalle" id="detalle" class="form-control"></textarea>
            </div>
            
            <div class="mb-3">
                <label for="imagen" class="form-label">Imagen:</label>
                <input type="file" name="imagen" id="imagen" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary">Agregar producto</button>
        </form>
    </div>
{% endblock content %}
