{% extends 'home/base.html' %}
{% load static %}
{% block content %}
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
        <li>{{ producto.tipo_vehiculo }} - {{ producto.marca }} - {{ producto.modelo }} - {{producto.anio}} - {{producto.detalle}} - <img src="{{ producto.imagen }}" alt="Imagen del producto"width="200" height="auto" style="display: block; margin: 0 auto;"></li>
        {% empty %}
            <li>No se encontraron productos</li>
        {% endfor %}
    </ul>
{% endblock %}

